//- Variables created with “pug” always look like global variables.

-
  var pkgData = {
    name: 'webpack-pug-scss-example',
    title: 'PAGE TITLE',
    description: 'description',
    url: {
      author: 'https://github.com/t--takai',
      github: 'https://github.com/t--takai/webpack-pug-scss-example',
      twitter: 'https://twitter.com/TomonariTakai',
    },
  };

- var dateNow = (new Date()).toLocaleDateString('ja-JP');
