// - Original Mixin ------------------
// ---- media query ------------------
// ---- NameSpace: baseMq-[componentName]

$screen-md: 1366px;
$screen-sm: 768px;
$sp-height: 490px;

@mixin baseMq-orientation($orientation: land) {
  @if $orientation == port {
    @media (orientation: portrait) { @content; }
  }

  @else if $orientation == land {
    @media (orientation: landscape) { @content; }
  }

  @else {
    @content;
  }
}

@mixin baseMq-responsive($device: sp, $orient: null) {
  // for Mobile, SmartPhone
  @if $device == sp {
    @media only screen
      and (max-width: $screen-sm - 1px) {
      @include baseMq-orientation($orient) {
        @content;
      }
    }
  }

  @else if $device == tablet {
    @media only screen
      and (min-width: $screen-sm)
      and (max-width: $screen-md - 1px) {
      @include baseMq-orientation($orient) {
        @content;
      }
    }
  }

  @else if $device == pc {
    @media all
      and (min-width: $screen-md) {
      @include baseMq-orientation($orient) {
        @content;
      }
    }
  }

  // not Mobile, for Tablet and Desktop
  @else {
    @media all
      and (min-width: $screen-sm) {
      @include baseMq-orientation($orient) {
        @content;
      }
    }
  }
}
