// MCSS ------------------------------
// Multilayer CSS --------------------
// http://operatino.github.io/MCSS/en/

// 00-layer: foundation
// Library, Resets, Fonts
// @import "./foundation/fonts";
@import "../../../node_modules/destyle.css/destyle.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import "./foundation/mixin";

body {
  font-family:
    YakuHanJP_Noto,
    'Noto Sans JP',
    "Hiragino Sans",
    Meiryo,
    "Yu Gothic Medium",
    sans-serif;
}

.body {
  @include mfm-responsive {
    background-color: antiquewhite;
  }

  @include mfm-responsive(tablet) {
    background-color: goldenrod;
  }

  @include mfm-responsive(pc) {
    background-color: cadetblue;
  }

  @include mfm-responsive(sp, port) {
    background-color: blueviolet;
  }
}

// 01-layer: base
// forms, buttons, navigation blocks

// 02-layer: project
// Registration form, Login block, Shopping cart

// 03-layer: cosmetic
// links colors, global modifiers
// low-level OOCSS - two properties for CSS class (.font-size_XL, .margin-t_L)
