// - MCSS ---------------------------------------------
// ---- 02-layer: project -----------------------------
// ---- Registration form, Login block, Shopping cart -
// ---- NameSpace: mps-[componentName] ----------------

.mps-hero {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  background: center / cover no-repeat url("https://picsum.photos/800/400");
}
