// - MCSS ---------------------------------------------
// ---- 02-layer: project -----------------------------
// ---- Registration form, Login block, Shopping cart -
// ---- NameSpace: mps-[componentName] ----------------

.mps-hero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: center / cover no-repeat url('/app/images/image.png');
}
